@font-face {
  font-family: 'DINPro-CondensedBold';
  src: url('../fonts/DINPro-CondensedBold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-CondensedBold';
  src: url('../fonts/DINPro-CondensedMedium.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial.ttf');
  font-weight: 400;
  font-style: normal;
}
