// то что слишком большое
@media screen and (max-width:470px) {
	
}
@media screen and (min-width: 767px) and (max-width:959px) {
	
}
@media screen and (max-width: 767px) {
	
}
// col-...
@media screen and (max-width:959px) {
	
}
// col-<576
@media screen and (max-width:576px) {
	
}
// sm
@media screen and (min-width: 1023.9px) and (max-width: 1176px) {
	
}
@media screen and (max-width: 1023.9px) {
	
}
// md
@media screen and (max-width: 843px) {
	
}
// lg
@media screen and (max-width:1200px) {
	
}
@media screen and (min-width:1920px) {
	#main-section {
	    height: auto;
	    margin-bottom: -8px;
		.video-bg {
	    height: auto;
	    margin-top: -136px;
		}
	}
}